<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-large-top uk-margin-small-bottom">

    </p>


    <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
      <div class="uk-column-1-3 uk-flex uk-flex-around" ui-grid>
        <h3 class="uk-card-title"> Restauração de Senha </h3>

        <span class="uk-icon" uk-icon="icon: icon-color-dark; ratio: 0.1"></span>
      </div>
      <form [formGroup]="form" class="uk-margin">
          <div class="uk-margin">
            <input formControlName="email" type="email" class="uk-input uk-form-large" placeholder="E-mail">

          </div>

      </form>

      <div class="uk-margin uk-text-right">
        <a (click)="restaurarSenha()" class="uk-button uk-button-default"> Restaurar Senha</a>
      </div>
    </div>


    <p class="uk-text-center">
      <a [routerLink]="['/login']" class="uk-button uk-button-link"> Voltar </a>
    </p>
  </div>
</div>
