.submit-lente {
    position:absolute;
    top:0; right:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    height: 100%;
    color: white;
  }
  
  .submit-line {
    position: relative;
  }
  
  .submit-line input {
    width: 100%;
  }

.button-icon {
    height: 100%;
}