<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-large-top uk-margin-small-bottom">

    </p>


    <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
      <div class="uk-column-1-3 uk-flex uk-flex-around" ui-grid>
        <h3 class="uk-card-title"> Autentique-se</h3>

        <span class="uk-icon" uk-icon="icon: icon-color-dark; ratio: 0.1"></span>
      </div>

      <form [formGroup]="form" class="uk-margin">
        <div [ngClass]="{'uk-margin-small': form.controls.email.invalid, 'uk-margin':  form.controls.email.valid}">
          <input formControlName="email" type="email" class="uk-input uk-form-large" placeholder="E-mail"
          [ngClass]="{'form-danger': (!form.controls.email.valid && !form.controls.email.pristine || !form.controls.email.valid)}">

        </div>
        <div class="uk-form-danger">
            {{!form.controls.email.valid && !form.controls.email.pristine ? 'E-mail inválido': ''}}

            {{!form.controls.email.valid && form.controls.email.pristine ? '*Campo Obrigatório': ''}}


        </div>

        <div class="uk-margin-small">
          <input formControlName="senha"  type="password" class="uk-input uk-form-large" placeholder="Senha"
          [ngClass]="{'form-danger': (!form.controls.senha.valid && !form.controls.senha.pristine || !form.controls.senha.valid)}">
        </div>
        <div class="uk-form-danger">
            {{!form.controls.senha.valid && form.controls.senha.pristine ? '*Campo Obrigatório': ''}}

            {{form.controls.senha.value.length > 10 && !form.controls.senha.pristine ? '*Máximo 10 caracteres': ''}}

        </div>

      </form>

      <div class="uk-margin uk-text-right">
        <button (click)="submit()" [disabled]="!form.controls.email.valid" class="uk-button uk-button-default"> Entrar </button>
      </div>
    </div>


    <p class="uk-text-center">
      <button [routerLink]="['/signup']" class="uk-button uk-width-1-1 uk-button-large uk-button-primary uk-margin-small-bottom"> Quero me cadastrar</button>
      <br>
    </p>
  </div>
</div>
